<% @title = "About" %>

<% content_for :meta do %>
  <meta name="description" content="About GameSunset">
<% end %>

<h1>About GameSunset</h2>

<div class = 'legend'>
  
  <p>Welcome to GameSunset!</p>

  <p>GameSunset provides an extensive database of video games.</p>
  
  <p>We cover the major consoles as well as ones with great historical value.</p>

  <p>All the important genres are represented as well</p>

</div>

</br>

<h3> Company Facts and Information </h3>
  <ul class = 'legend'>
    <li><strong>CEO: </strong><dfn>Richard Hamilton</dfn></li>
	<li><strong>Founded: </strong><dfn>2014</dfn></li>
	<li><strong>Industry: </strong><dfn>Entertainment</dfn></li>
	<li><strong>Location: </strong><dfn>Chicago</dfn></li>
  </ul>