<% @title = "Genres" %>

<% content_for :meta do %>
  <meta name="description" content="Information about video game genres.">
<% end %>
  
<h2>Genre Definitions</h2>

<ul class = 'center-text'></ul>

  <div class = 'definitions margin-auto no-list-style'>
    <li><b>Action</b>: <dfn>Games that emphasize combat</dfn></li><br>
    <li><b>Action Adventure</b>: <dfn>Action games that involve exploring</dfn></li><br>
    <li><b>Adventure</b>: <dfn>Games that don't involve quick reflexes or timing'</dfn></li><br>
		
    <li><b>Arcade</b>: <dfn>Games that feature simple levels that get progressively more difficult over time</dfn></li><br>
    <li><b>Beat 'em up</b>: <dfn>A type of platforming game that involves fighting to advance</dfn></li><br>
    <li><b>Combat</b>: <dfn>Military type games that simulate warfare</dfn></li><br>
		
    <li><b>Defense</b>: <dfn>Games that focus on defending a city from invaders</dfn></li><br>
    <li><b>Fighting</b>: <dfn>Games that feature 1 on 1 combat between characters</dfn></li><br>
    <li><b>First Person Shooter<dfn></b>: Games that involve guns that are shown in First Person View</dfn></li><br>
		
    <li><b>MMO</b>: <dfn>Games that feature a large number of players in a large virtual world</dfn></li><br>
    <li><b>Platform</b>: <dfn>2D or 3D games that involve overcoming obstacles and jumping on platforms</dfn></li><br>
    <li><b>Puzzle</b>: <dfn>A game that requires quick thinking and strategy making</dfn></li><br>
		
    <li><b>Racing</b>: <dfn>Games that include driving cars and trying to get the fastest time</dfn></li><br>
    <li><b>Shoot 'em up'</b>: <dfn>A game that involves spaceships trying to defeat enemy spaceships</dfn></li><br>
    <li><b>Sports</b>: <dfn>Games that simulate sports</dfn></li><br>
    <li><b>Strategy</b>: <dfn>Games that require quick thinking and decision making</dfn></li><br>
  </div>
</ul>

  <p class = 'text-center'>
    <a href="/help/" class="btn btn-info btn-lg active" role="button">Return</a>
  </p>