<% @title = "Genres" %>

<% content_for :meta do %>
  <meta name="description" content="Information about video game genres.">
<% end %>
  
<h2>Genre Definitions</h2>

<ul class = 'center-text'></ul>

  <div class = 'definitions'>
    <li><strong>Action</strong>: <dfn>Games that emphasize combat</dfn></li><br>
    <li><strong>Action Adventure</strong>: <dfn>Action games that involve exploring</dfn></li><br>
    <li><strong>Adventure</strong>: <dfn>Games that don't involve quick reflexes or timing'</dfn></li><br>
		
    <li><strong>Arcade</strong>: <dfn>Games that feature simple levels that get progressively more difficult over time</dfn></li><br>
    <li><strong>Beat 'em up</strong>: <dfn>A type of platforming game that involves fighting to advance</dfn></li><br>
    <li><strong>Combat</strong>: <dfn>Military type games that simulate warfare</dfn></li><br>
		
    <li><strong>Defense</strong>: <dfn>Games that focus on defending a city from invaders</dfn></li><br>
    <li><strong>Fighting</strong>: <dfn>Games that feature 1 on 1 combat between characters</dfn></li><br>
    <li><strong>First Person Shooter<dfn></strong>: Games that involve guns that are shown in First Person View</dfn></li><br>
		
    <li><strong>MMO</strong>: <dfn>Games that feature a large number of players in a large virtual world</dfn></li><br>
    <li><strong>Platform</strong>: <dfn>2D or 3D games that involve overcoming obstacles and jumping on platforms</dfn></li><br>
    <li><strong>Puzzle</strong>: <dfn>A game that requires quick thinking and strategy making</dfn></li><br>
		
    <li><strong>Racing</strong>: <dfn>Games that include driving cars and trying to get the fastest time</dfn></li><br>
    <li><strong>Shoot 'em up'</strong>: <dfn>A game that involves spaceships trying to defeat enemy spaceships</dfn></li><br>
    <li><strong>Sports</strong>: <dfn>Games that simulate sports</dfn></li><br>
    <li><strong>Strategy</strong>: <dfn>Games that require quick thinking and decision making</dfn></li><br>
  </div>
</ul>

  <p class = 'center'>
    <a href="/help/" class="btn btn-info btn-lg active" role="button">Return</a>
  </p>