<h1>Help</h1>
<p>Welcome to the Games Database website. This website has an extensive database of video games.</p>

<p>Our games are categorized for all available genres and consoles.</p> 

<p>Search for games of a particular genre or add games to your list of Favorites.</p>

<p> You can even add new games to our database</p>
