<% @title = "Help" %>

<h2>GameSunset Support</h2>

<div class = 'center-text'>
  
  <p>Welcome to the GameSunset website. This website has an extensive database of video games.</p>

  <p>Our games are categorized for all available genres and consoles.</p> 

  <p>Search for games of a particular genre or add games to your list of Favorites.</p>

  <p> You can even add new games to our database</p>
  
</div>

<br>

<p class = 'text-center'><b>Navigation</strong></b>

<div class = 'bar'>
  <p class = 'center'>
    <a href="/help/consoles" class="btn btn-primary btn-lg active" role="button">Consoles Information</a>
    <a href="/help/genres" class="btn btn-primary btn-lg active" role="button">Genres Information</a>
    <a href="/help/users" class="btn btn-primary btn-lg active" role="button">User Help</a>
  </p>
</div>