<% @title = "Privacy Policy" %>

<% content_for :meta do %>
  <meta name="description" content="GameSunset Privacy Policy">
<% end %>

<h3>Privacy Policy</h3>

<ul class = 'terms-heading border-black margin-auto no-list-style'>
  <div class = 'sections-list'>
    <strong>
      <li><a href="#modification">Policy Modification</a></li>
      <li><a href="#information-collected">Information Collection</a></li>
      <li><a href="#information-use">Use of Information Collected</a></li>
      <li><a href="#third-party">Third Parties</a></li>
      <li><a href="#security-measures">Security Measures</a></li>
      <li><a href="#information-access">Access to Information Collected</a></li>
      <li><a href="#opt-out">Opt-Out Right</a></li>
    </strong>
  </div>
</ul>

 <div class="header">
       <div class="rule">&nbsp;</div>
     </div>
	 
<div class = 'terms-section border-black'>
<ul class = 'no-list-style'>

  <li>
    <h2 id = 'modification'>Policy Modification</h2>
	
	<p class = 'terms-text'>GameSunset has the right to modify this policy at our sole discretion. Use of information we collect now is subject to the Privacy Policy in effect
	at the time such information is used. Your use of the Site following any changes means that you agree to follow and be bound by the Privacy Policy as changed.
	Any change to this Privacy Policy shall be effective as to any visitor who has visited the Site before the change was made. It is the obligation of users
	visiting the Site before the change to learn of changes to the Privacy Policy since their last visit.</p>
	
  </li>
  
  <li>
    <h2 id="information-collected">Information Collection</h2>
	
	<p class = 'terms-text'>We only collect relevant information in this site, which is for enhancing the user experience. We store any information users submit to us including
	usernames, passwords and email addresses. All of the above are required to gain access to the full features of our website. Our server logs receive and
	record trafic data from you including your IP address and the page you are visiting. This information is used to monitor our server performances and 
	improve the web site. We also count and display the number of times a web page has been viewed.</p>
	
	<p class = 'terms-text'><strong>Cookies</strong> are alphanumeric identifiers that we transfer to your computer’s hard drive through your web browser to enable our
	systems to recognize your browser and tell us how and when pages of the Site are visited and by how many people. Our cookies do not collect personal
	information, and we do not combine information collected through cookies with other personal information to tell us who you are or the identity of your
	screen name or e-mail address. As further described below, GameSunset’s advertising partners may also place a cookie on your browser that makes it possible to
	collect anonymous non-personally identifiable information that ad delivery systems use to present more relevant ads. </p>
	
	<p class = 'terms-text'>You may modify your browser to prevent you from receiving cookies. You may select when you receive a new cookie, or completely disable
	cookies altogether. We do not override those settings and allow you to use them.</p>
	
  </li>
  
  <li>
    <h2 id="information-use"> Use of Information Collected</h2>
	
	<p class = 'terms-text'>We have several important reasons for collecting information from users. That information is used for record-keeping, feedback,
	improving our web site and enhancing the user experience. Identifying information such as email-addresses are used for us to contact you or provide you
	with personalized content. We may send you email messages with new, products, offers or promotions that we believe are interesting to you. Any personal
	information you provide to us through our web site, will not be disclosed to third parties not affiliated with our web site.</p>

	<p class = 'terms-text'>GameSunset personnel and authorized consultants and/or contractors may have
	access to user information if necessary in the normal course of GameSunset business. In some cases, we may choose to buy or sell assets. In these types of
	transactions, user information is typically one of the business assets that is transferred. Moreover, if GameSunset, or substantially all of its assets, were
	acquired, user information would be one of the assets that is transferred. We may also release personal information when we believe in good faith that
	release is necessary to comply with a law; to enforce or apply our Terms & Conditions, Additional Terms, and other policies; or to protect the rights,
	property, or safety of GameSunset, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud
	protection and credit risk reduction.</p>
	
  </li>
  
  <li>
    <h2 id="third-party">Third Parties</h2>
	
	<p class = 'terms-text'>GameSunset contains links to third-party websites. This is used for locating information, products or services that may be of interest. If you access
	a third-party website from this site, information you disclose on this website is not subject to this Privacy Policy. Those links may be used by the
	third-parties to collect information from you. As such, we are not responsible for the privacy practices of those websites. As the user, you are responsible
	for understanding the Privacy Policy of the third-party websites. We have no control over their use of cookies or information collection.</p>
	
  </li>
  
  <li>
    <h2 id="security_measures">Security Measures</h2>
	
	<p class = 'terms-text'>The confidentiality of any communication or material submitted to GameSunset is not guaranteed. This includes personal information
	such as your name or address. We are not responsible for the security of information transmitted through the internet. It's possible that our content can
	be transferred unencrpyted or involve transmissions over various networks.</p>
	
  </li>
  
  <li>
    <h2 id="information-access">Access to Information Collected</h2>
	
	<p class = 'terms-text'>Upon your request through one of the contact methods set forth above, GameSunset will provide you with a summary of any personal
	information retained by GameSunset that has been voluntarily provided by you to GameSunset through online application forms, registration forms,
	surveys, e-mail, or another online avenue. You may modify, correct, change or update your personal information by contacting GameSunset through one of 
	the contact methods set forth above.</p>
	
  </li>
  
  <li>
    <h2 id="opt-out">Opt-Out Right</h2>
	
	<p class = 'terms-text'>Except as necessary to obtain the services or information requested, you may opt out of having your personal information, which has
	been voluntarily provided to GameSunset through online forms, e-mail, or another online avenues, prospectively retained by GameSunset or used by
	GameSunset for secondary purposes, by contacting GameSunset through one of the contact methods set forth above. Unless otherwise set forth below,
	this provision does not apply to collection of the type of web browser used to visit the Site or to information provided or collected that does not meet the
	description hereunder.</p> 
	
	<p class = 'terms-text'>If you would prefer to opt-out of having GameSunset’s advertising partners place a cookie on your browser, please visit our
	advertising partner privacy policy and opt-out page.  Although it is our hope that you find the display of advertising to you based on your anonymous
	interests valuable, if you would prefer not to participate in the services offered through these solutions, you can always
	opt-out of this activity by visiting the Network Advertising Initiative (NAI) website by clicking here.</p>
	
  </li>

</ul>
</div>