<% @title = "Terms of Use" %>

<% content_for :meta do %>
  <meta name="description" content="GameSunset Terms and Conditions">
<% end %>

<h3>Terms and Conditions</h3>

<div class = 'center-text'>
  <p>Please read the following Terms of Use for our website</p>
  <p>If you would like to contact us please visit our contact page</p>
</div>
		
  <h3>Sections</h3>
    <ul class = 'terms-heading'>
	  <div class = 'sections-list'>
	    <strong>
	      <li><a href="#general">General</a></li>
	      <li><a href="#changed-terms">Changed Terms</a></li>
	      <li><a href="#conduct">User Conduct</a></li>
	      <li><a href="#liability">Limitation of Liability</li>
	      <li><a href="#monitoring">Monitoring</a></li>
	      <li><a href="#indemnification">Indemnification</a></li>
	      <li><a href="#termination">Termination</a></li>
	      <li><a href="#trademarks">Trademarks</a></li>
	      <li><a href="#third-party">Third Party Content</a></li>
	      <li><a href="#miscellaneous">Miscellaneous</a></li>
	      <li><a href="#privacy-policy">Privacy Policy</a></li>
	      <li><a href="#copyright">Copyright Policy</a></li>
	     </strong>
	   </div>
	 </ul>
	
     <div class="header">
       <div class="rule">&nbsp;</div>
     </div>
		<div class = 'terms-section'>
		<ul class="terms-list">

			<li>
				<h2 id="general">General</h2>
				<p class = 'terms-text'>This End User Agreement lists the terms and conditions that apply to use of the Site by each user. By using the Site,
				the user agrees to comply with all of this agreement's terms and conditions. The right to use the Site is personal to the user and may not be
				transferred to another person. The user is responsible for protecting the confidentiality of his/her passwords. The user is responsible for the
				use of the site by any other person it permits to access the Site. GameSunset has the right at any time to change or discontinue any aspect
				or feature of the site.</p>
			</li>

			<li>
				<h2 id="changed-terms">Changed Terms</h2>
				<p class = 'terms-text'>GameSunset may modify the conditions in this agreement at any time with or without notice.</p>
			</li>

			<li>
				<h2 id = "conduct">User Conduct</h2>
				
				<p class = 'terms-text'> We designed the following rules to promote a fun environment among users.</p>
				
				<p class = 'terms-text'><strong>1</strong>. GameSunset is designed for non-commercial and legal purposes only. Please be respectful to fellow users and
				refrain from posting abusive, harassing or threatening material. You are expected to avoid using profane language. Attempting to circumvent our
				language filters is not allowed. You are not to promote violence, discrimination, racism, drugs or any illegal behavior through this web site.
				We welcome everyone to this website and take great measures to ensure a family-safe environment for all our users. You must not upload or post any
			    copyright-infringing material. For more information about this, please visit our Copyright Section. Additionally, User Content must absolutely not
				contain any viruses, trojans, worms, spyware, malware or otherwise malicious code. Your account is yours only yours, and must not be transferred
				or sold to another person.
				
				<p class = 'terms-text'><strong>2</strong>. This site contains materials copyrighted by GameSunset. It includes, but is not limited to text, photos,
				videos and graphics. Users may not modify, publish or transmit any of this content without our permission. Users do not acquire ownership rights
				by using or accessing copyrighted materials.</p>
				
				<p class = 'terms-text'><strong>3</strong>. Copyright and Trademark Protected material may not be uploaded without permission from its owner. Users are liable
				 for any damage from copyright infringements from any material they submitted. By submitting material to this web site, users grant that the
				owner of such material has expressly granted GameSunset the royalty-free, perpetual, irrevocable, non-exclusive right and license to use,
				reproduce, modify, adapt, publish, translate, edit and distribute such material worldwide and to incorporate it in other works in any form, media
				or technology now known or hereafter developed for the full term of any copyright that may exist in such material. You also allow other users to
				access, view, store or reproduce the material for that user's personal use. We do not want to receive confidential information from any user and
				any information we receive will be deemed non-confidential.</p>
				
				<p class = 'terms-text'><strong>4</strong>. Users may upload content to this web site, but the confidentiality of said content is not guaranteed. Users are
				responsible for any content they upload, transmit, share or publish through this site. GameSunset may review the site and its content and
				may remove any user content for any reason. We may remove content that violates this contract, or content that is offensive, harmful or illegal.</p>
				
				<p class = 'terms-text'>Intellectual properties including copyrights and trademarks must not be submitted unless the submitter is the holder
				of those property rights or has received permission from the property's owner. We do not endorse any user content and all liability rests with
				the user.</p>
			  
			  </li>

			<li>
				<h2 id="liability">Limitation of Liability</h2>
				
				<p class = 'terms-text'><strong>1</strong>. YOU AGREE THAT USE OF THIS SITE IS AT YOUR SOLE RISK. WE DO NOT GUARANTEE THAT THIS SITE WILL BE UNINTERRUPTED
				OR ERROR FREE. WE ALSO DO NOT PROVID WARRANTY REGARDING THE ACCURACY OR CONTENT PROVIDED THROUGH OUR SITE.</p>
				
				<p class = 'terms-text'><strong>2</strong>. THE SITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, 
				BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE
				WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.</p>
				
				<p class = 'terms-text'><strong>3</strong>. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, 
				OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR 
				DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR 
				UNDER ANY OTHER CAUSE OF ACTION. USERS SPECIFICALLY ACKNOWLEDGE THAT GAMESUNSET IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER
				OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH THEM. ALSO USERS SPECIFICALLY ACKNOWLEDGE
				THAT GAMESUNSET SHALL NOT BE LIABLE FOR USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND 
				THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH THEM.</p>
				
				<p class = 'terms-text'><strong>4</strong>.WE WILL NOT BE HELD LIABLE FOR ANY DAMAGES RESULTING FROM USE OF THIS WEBSITE. THIS APPLIES TO ALL CONTENT ON
				THIS SITE.</p>
				
				<p class = 'terms-text'><strong>5</strong>.IT IS THE USER'S RESPONSIBILITY TO EVALUATE ALL CONTENT ON THIS WEBSITE, NOT GAMESUNSET'S. AS SUCH, WE WILL
				NOT BE HELD LIABLE FOR ANY ERRORS OR INACCURACIES IN THE INFORMATION CONTAINED IN THIS SITE.</p>
			
			</li>

			<li>
				<h2 id="monitoring">Monitoring</h2>
				<p class = 'terms-text'>We have the right to monitor the site including any user-generated content in order to verify compliance with our
                policies or to satisfy any law, regulation or authorized government request. We have the right to remove any material that violates this
				contract.
			</li>

			<li>
				<h2 id="indemnification">Indemnification</h2>
				<p class = 'terms-text'>You agree to defend and hold harmless GameSunset against all claims and expenses, including attorneys' fees, arising
				out of the use of this web site.</p>
			</li>

			<li>
				<h2 id="termination">Termination</h2>
				<p class = 'terms-text'>Either GameSunset or the user may terminate this Agreement at any time.</p>
			</li>

			<li>
				<h2 id="trademarks">Trademarks</h2>
				<p class = 'terms-text'>Trademarks appearing on the Site are the property of GameSunset, our Affiliates, or their respective owners.</p>
			</li>

			<li>
				<h2 id="third-party">Third Party Content</h2>
				<p class = 'terms-text'>We may distribute content from third parties. Any opinions, advice, statements or other information provided by those
				third parties are theirs alone, not GameSunset's. As such, we cannot guarantee the accuracy of any of their content. We are not responsible
				for the accuracy of Third Party Content. Additionally, we will not be found liable for any damages resulting from user's reliance on information
				found on this website. We strive for accuracy, but it is the responsibility of users to evaluate the accuracy and usefulness of any site content.</p>
			</li>

			<li>
				<h2 id="miscellaneous">Miscellaneous</h2>
				<p class = 'terms-text'>This Agreement sets forth the entire agreement of the parties with respect to the subject matter hereof, and supersede
				all previous written or oral agreements between the parties with respect to such subject matter. The provisions of this Agreement will be deemed
				severable, and the unenforceability of any one or more provisions will not affect the enforceability of any other provisions. In addition, if any
				provision of the Agreement, for any reason, is declared to be unenforceable, the parties will substitute an enforceable provision that, to the
				maximum extent possible under applicable law, preserves the original intentions and economic positions of the parties. No waiver by either party of any
				breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default. This agreement's section headings
				are used for convenience and are not given legal import.</p>
			</li>

			<li>
				<h2 id="privacy-policy">Privacy Policy</h2>
				<p class = 'terms-text'>For information on our Privacy Policy, please visit this website. <%= link_to 'Privacy Policy', privacy_path %></p>
			</li>

			<li>
				<h2 id="copyright">Copyright Policy</h2>
				
				<p class = 'terms-text'>(A)GameSunset protects copyrights of its own creative material and at the same time acknowledges the copyright
				properties of others. Content might be available on our website, that is not within our control. However, we will not allow copyright-infringing
				materials on our website.</p>
				
				<p class = 'terms-text'>(A)Any images, pictures, videos or other forms of media GameSunset uses on this web site are either copyright free or
				qualify as <strong>Fair Use</strong> under U.S. Copyright Law. Under those provisions, such forms of media do not significantly impede the 
				copyright holder's rights nor are they used to generate profit. GameSunset does not own the copyrights to the video games listed on this
				site. Images and other media may be used for identification of the video games.</p>
				
				<p class = 'terms-text'>Pursuant to the DMCA 17 U.S.C. 512 (c), GameSunset has designated the Chief Legal Officer and General Counsel of 
				GameSunset, LLC, the parent company of GameSunset, as its agent ("Agent") for notification of claims of copyright infringement with respect 
				to information residing, at the direction of a user, on the Site Web site.</p>
				
				<p class = 'terms-text'>For clarification purposes, solely DMCA notices should go to the Agent. All other forms of feedback including comments
				requests for technical support and other communications should be directed as set forth at the beginning of this Agreement. Users acknowledge
				that failure to comply with this section's requirements will invalidate and void their DMCA notice.</p>
				
				<p class = 'terms-text'>(B) If users believes their User Content, or other content, that has been removed (or to which access was
				disabled) is not infringing, or that they have obtained authorization from the copyright owner, the copyright owner's agent, or pursuant to
				law, to submit, post and make use of such User Content, or other content, they may send a counter-notice containing the following
				information to the Agent: (1) The user's physical or electronic signature; (2) identification of the User Content, or other content, that has
				been removed or to which access has been disabled and the location at which the User Content, or other content appeared on the Site prior to
				the point at which such User Content, or other content, was removed or disabled; (3) a statement that End User has a good faith belief that
				the User Content, or other content, was removed or disabled as a result of mistake or a misidentification of the User Content, or other content;
				and (4) The User's name, address, telephone number, and, if available, an electronic mail address, a statement that End User consents to the
				jurisdiction of the federal court in New York, New York, and a statement that End User will accept service of process from the party that
				provided notification of the alleged infringement.</p>
				
				<p class = 'terms-text'>If a counter-notice is received by the Agent, the Site may send a copy of such counter-notice to the original
				complaining party informing such party that it may replace the removed content or cease disabling it in ten (10) business days. Unless the
				copyright owner files an action seeking a court order against the content provider, member, or user, the removed content may be replaced, or
				access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at the Site's sole discretion.</p>
				
				<p class = 'terms-text'>(C) We recommend consulting a legal advisor before filing a notice or counter-notice. There may be penalties for
				false claims under the DMCA.</p>
			</li>
		</ul>
		</div>
  </div>
</div>
