<% @title = 'Users Help' %>

<h2>Users Help</h2>

<div class = "center-text">
	
	<p>Welcome to GameSunset! In order to access all of our features, please create an account.</p>

	<p class = 'marker'>Important Information</p>
	
	<ul>
	  <li><em>When creating an account, please select a unique username and a strong password.</em></li>
	  <li><em>To contact us, please click on the Contact Tab in the bottom right corner of your screen</em></li>
	</ul>
	
	<p class = 'marker'>User Privileges</p>
	
	<ul>
	  <li><strong>Add games to Favorites: </strong><em>By default, if you rate a game, it will appear in your Favorites List</em></li>
	  <li><strong>Write Reviews: </strong><em>You can write reviews on games listed on this website</em></li>
	</ul>
	
	<p class = 'marker'>Searching for games</p>
	
	<ul>
	  <li><strong>Consoles Tab: </strong><em>Find games for your favorite console.</em></li>
	  <li><strong>Genres Tab: </strong><em>Find games from your favorite genre.</em></li>
	  <li><strong>Top Games Tab: </strong><em>Find the top rated games in GameSunset.</em></li>
	  <li><strong>Random Tab: </strong><em>View information on a random game.</em></li>
	</ul>

</div>

<p class = 'center'>
  <a class="btn btn-info" href='/help' role="button">Help Index</a>
</p>