<% @title = "#{@article.title}" %>

<div class = 'articles-list'>
  <p class = 'article-title'><%= @article.title %></p>
  <p><%= @article.date %></p>
  <p><%= simple_format @article.body, :id => 'article-body' %></p>
</div>

<p class = 'center'>
  <%= link_to 'Articles', root_path, :class => 'btn btn-info' %>
</p>