<% @title = "Favorites" %>

<% if current_user.games.empty? %>

  <div class = 'alert alert-alert'>There are no games in your Favorites List. To add some, please edit or rate a game. </div>
  
<% end %>

<h1>My Favorites</h1>

<table class = 'favorites-table'>
  
  <thead>
    <tr>
      <th>Game ID</th>
      <th id = 'game'>Game</th>
      <th>Rating</th>
      <th>Liked By</th>
    </tr>
  </thead>
    
  <tbody>
    <% @user.games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.title %></td>
        <td class = 'center'><%= game.stars %></td>
        <td class = 'center'><%= game.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class = 'center'><strong>Legend</strong></p>

<ul class = 'legend'>
  <li><strong>Num</strong>: <dfn>The ID of the video game you selected.</dfn></li>
  <li><strong>Game</strong>: <dfn>Title of that game.</dfn></li>
  <li><strong>Rating</strong>: <dfn>The rating assigned to this game by users. This is measured on a scale from 1 to 5 stars.</dfn></li>
  <li><strong>Liked By</strong>: <dfn>Number of users who have added this game to their Favorites List.</dfn></li><br>
</ul>

<p class = 'center'><strong>Important Information</strong></p>
  
<p class = 'favorites-info'>The above is a listing of your favorite games. By editing or reviewing a game, we automatically add it to this list! <br>
  Please see the above legend for more info.</p>

<p class = 'center'>
  <a class="btn btn-info" href='/games' role="button">Return Home</a>
</p>