<%-# Render Error Messages for Validation Errors %>

<% if @contact.errors.any? %>

  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@contact.errors.count, "error") %>.
    </div>
    <ul>
			
    <% @contact.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
		
    </ul>
  </div>
	
<% end %>