<% @title = "Page wasn't found" %>

<h3>Page wasn't Found</h3>

<div class = 'center'>
  <img class='carousel-image' src='http://media.kotaku.foxtrot.future.net.uk/wp-content/uploads/sites/52/2014/05/sonic-depressed.jpg'>
  </br>
  <p>We couldn't find the page you requested.</p>
  <p>If you feel something is missing that should be here, <%= link_to 'contact us', new_contact_path %></p>
</div>