<% @title = "Adventure" %>

<% content_for :meta do %>
  <meta name="description" content="Adventure Games">
<% end %>

<h3>Adventure Games</h3>

<%= render :partial => "carousel" %>

<h4>Top Rated Games</h4>

<table class = "console-table margin-auto">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "index_table_body" %>
  
</table>

<div class = 'center'>
  <%= link_to 'Adventure Games', adventure_games_path, :class => 'btn btn-info' %>
</div>

</br>

<div class = 'center'>
  <p>
    <a href="/genres" class="btn btn-warning btn-lg active" role="button">Genres</a>
  </p>
</div>