<% @title = "Atari Games" %>

<h3>All Atari Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_table_body" %>
  
</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Atari').count, 'Atari game') %></p>
  <p>
    <%= link_to 'Atari Home', atari_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>