<% @title = "Atari" %>

<h3>Atari Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: 'Atari').count, 'Atari game') %></p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>