<% @title = "Consoles" %>
<h2> Consoles Reference</h2>

<ul class = 'center-text'></ul>

  <div class = 'definitions'>
    
    <li>
      <strong>Atari</strong>: One of the earlier video game consoles. It was released in 1982.
    </li><br>
    
    <li>
      <strong>NES</strong>: This represents Nintendo's first video game console. It was released in 1983 and features an 8 bit processor.
    </li><br>
    
    <li>
      <strong>Super Nintendo(SNES)</strong>: As Nintendo's second console, this was released in 1990. This console has a more powerful 16 bit       processor.
    </li><br>
    
    <li>
      <strong>Nintendo 64</strong>: Released in 1996, this was Nintendo's third console as well as the successor to the SNES. It includes a 64       bit CPU and was the last Nintendo console to store games in ROM cartridges. It competed with Sony's first console, Playstation.
    </li><br>
    
    <li>
      <strong>GameCube</strong>: Released in 2001, this was the successor to the Nintendo 64. Unlike the previous three Nintendo consoles, this       one used optical discs as its primary storage medium. As a sixth generation console, it's primary competition was the Playstation2 and Xbox.
    </li><br>
    
    <li>
      <strong>Nintendo Wii</strong>: Released in 2006, this was the GameCube successor. It made headlines for its innovative remote. As a seventh       generation console, it's primary competition was the Playstation 3 and Xbox360.
    </li><br>
    
    <li>
      <strong>Nintendo Wii U</strong>: Released in 2011, this was Wii's successor. This is an eighth generation console.
    </li><br>
    
    <li>
      <strong>Nintendo DS</strong>: Released in 2004, this is a handheld console released by Nintendo
    </li><br>
    
    <li>
      <strong>Genesis</strong>: Released in 1988, this was Sega's first video game console. As a fourth generation console, it competed with the       Super Nintendo in the 16-bit market.
    </li><br>
    
    <li>
      <strong>Dreamcast</strong>: Released in 1999 and discontinued in 2001, this was unfortunately Sega's most disappointing console. It       couldn't compete with Nintendo and Sony.
    </li><br>
    
    <li>
      <strong>Playstation</strong>: Released in 1995, this was Sony's first console. As a fifth generation console, it competed directly with the       Nintendo 64 and Sega Dreamcast.
    </li><br>
    
    <li>
      <strong>Playstation 2</strong>: The successor to the Playstation, this was released in 2000. As a sixth generation console, it's                  competition was Nintendo's GameCube and Microsoft's first console, Xbox 360.
    </li><br>
    
    <li>
      <strong>Playstation 3</strong>: The successor to the Playstation 3, this was released in 2006
    </li><br>
    
    <li>
      <strong>PC</strong>: This console is a Personal Computer.
    </li><br>
    
    <li>
      <strong>Xbox</strong>: Released in 2001, this console represents Microsoft's first foray into the Gaming Console Industry. As a sixth       generation console, it competed for market share with Nintendo's GameCube and Sony's Playstation.
    </li><br>
    
    <li>
      <strong>Xbox360</strong>: Released in 2006, this is the successor to the Xbox. As a seventh generation console, it competed for market      share with Nintendo's Wii and Sony's Playstation 2.
    </li><br>
    
  </div>
  
</ul>

<p class = 'center'><strong>Consoles by Generation</strong></p>

<ul class = 'center-text'></ul>
  <div class = 'definitions'>
    <li>
      <strong>1st Generation</strong>: Magnavox Odyssey, Pong, Binatone, Coleco Telstar
    </li><br>
    
    <li>
      <strong>2nd Generation</strong>: Fairfield Channel F, Atari, Magnavox Odyssey 2, Intellivision 
    </li><br>
    
    <li>
      <strong>3rd Generation</strong>: SG-100, Nintendo Entertainment System(NES), Sega Mark III, Atari 7800
    </li><br>
    
    <li>
      <strong>4th Generation</strong>: TurboGrafx-16, Sega Genesis, SNES, Neo Geo AES
    </li><br>
    
    <li>
      <strong>5th Generation</strong>: Atari Jaguar, Sega Saturn, Playstation, Nintendo 64
    </li><br>
    
    <li>
      <strong>6th Generation</strong>: Sega Dreamcast, Playstation 2, GameCube, Xbox
    </li><br>
    
    <li>
      <strong>7th Generation</strong>: Wii, Playstation 3, Xbox360
    </li><br>
    
    <li>
      <strong>8th Generation</strong>: Wii U, Playstation 4, Xbox One
    </li><br>
    
  </div>
<end>

  <p class = 'center'>
    <a href="/help/" class="btn btn-info btn-lg active" role="button">Return</a>
  </p>