<% @title = "Edit Game" %>

<h3>Update this Game</h3>

  <div class = 'center'>
  
    <%= form_for @game do |f| %>

    <%= render "form", :f => f %>
  
      <p>
        <input class="btn btn-primary" type="submit" value="Update Game">
      </p>
	
	  <% end %>

	<%= link_to 'Return Home', games_path, :class => "btn btn-info" %>
	
  </div>