<% @title = "Help" %>

<h2>Games Database Support</h2>

<div id = 'paragraphs'>
	
  <p>Welcome to the Games Database website. This website has an extensive database of video games.</p>

  <p>Our games are categorized for all available genres and consoles.</p> 

  <p>Search for games of a particular genre or add games to your list of Favorites.</p>

  <p> You can even add new games to our database</p>
	
</div>

<br>

<h2>Genre Definitions</h2>

<ul class = 'center-text'></ul>

  <div id = 'definitions'>
    <li><strong>Action</strong>: Games that emphasize combat</li>
    <li><strong>Action Adventure</strong>: Action games that involve exploring</li>
    <li><strong>Adventure</strong>: Games that don't involve quick reflexes or timing'</li>
		
    <li><strong>Arcade</strong>: Games that feature simple levels that get progressively more difficult over time</li>
    <li><strong>Beat 'em up</strong>: A type of platforming game that involves fighting to advance</li>
    <li><strong>Combat</strong>: Military type games that simulate warfare</li>
		
    <li><strong>Defense</strong>: Games that focus on defending a city from invaders</li>
    <li><strong>Fighting</strong>: Games that feature 1 on 1 combat between characters</li>
    <li><strong>First Person Shooter</strong>: Games that involve guns that are shown in First Person View</li>
		
    <li><strong>MMO</strong>: Games that feature a large number of players in a large virtual world</li>
    <li><strong>Platform</strong>: 2D or 3D games that involve overcoming obstacles and jumping on platforms</li>
    <li><strong>Puzzle</strong>: A game that requires quick thinking and strategy making</li>
		
    <li><strong>Racing</strong>: Games that include driving cars and trying to get the fastest time</li>
    <li><strong>Shoot 'em up'</strong>: A game that involves spaceships trying to defeat enemy spaceships</li>
    <li><strong>Sports</strong>: Games that simulate sports</li>
    <li><strong>Strategy</strong>: Games that require quick thinking and decision making</li>
  </div>
	
</ul>