<% @title = "Nintendo 64" %>

<h3>Nintendo 64 Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: 'Nintendo 64').count, 'Nintendo 64 game') %></p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>