<% @title = "New Game" %>

<h3>Add a New Game</h3>

  <div class = 'center'>
  
    <%= form_for @game do |f| %>
  
    <%= render "form", :f => f %>
  
    <p>
      <input class="btn btn-primary" type="submit" value="Submit">
    </p>
  
  </br>
	
	<%= link_to 'Return', games_path, :class => 'btn btn-info' %>
  
    <% end %>

  </div>