<% @title = "Other Games" %>

<h3>Other Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "other_table_body" %>

</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: ['TurboExpress', 'Game Gear', 'Genesis', 'Saturn', 'Neo Geo', 'DS', 'GBA', 'GBC']).count, 'game') %> </p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>