<% @title = "PC Games" %>

<h3>All PC Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_table_body" %>
  
</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'PC').count, 'PC game') %></p>
  <p>
    <%= link_to 'PC Home', pc_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>