<% @title = "Playstation 3" %>

<h3>Playstation 3 Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: 'Playstation 3').count, 'Playstation 3 game') %></p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>