<% @title = "RPG" %>

<% content_for :meta do %>
  <meta name="description" content="RPG Games">
<% end %>

<h3>RPG Games</h3>

<table class = "console-table">

  <%= render :partial => "genre_table_head" %>
  <%= render :partial => "genre_table_body" %>
  
</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(genre: 'RPG').count, 'RPG game') %></p>
  <p>
    <%= link_to 'Back', rpg_path, :class => "btn btn-warning btn-lg active" %>
  </p>
</div>