<% @title = "Select a Console" %>

<h1>Select a console</h1>

<p class = 'center'> You can then find games for that console</p>

<div class = 'center'>
  <p class = 'marker'>Nintendo</p>
  <a class="btn btn-success btn-large" href="/console-select/nes" role ="button">NES</a>
  <a class="btn btn-success btn-large" href="/console-select/snes" role ="button">SNES</a>
  <a class="btn btn-success btn-large" href="/console-select/n64" role = "button">N64</a>
  <a class="btn btn-success btn-large" href="/console-select/wii" role ="button">Wii</a>
  <a class="btn btn-success btn-large" href="/console-select/wii_u" role ="button">Wii U</a></br>
</div>

<div class = 'center'> 
  <p class = 'marker'>Sony</p>
  <a class="btn btn-primary btn-large" href="/console-select/ps" role ="button" >PS</a>
  <a class="btn btn-primary btn-large" href="/console-select/ps2" role ="button" >PS 2</a>
  <a class="btn btn-primary btn-large" href="/console-select/ps3" role ="button" >PS 3</a>
  <a class="btn btn-primary btn-large" href="/console-select/ps4" role ="button">PS 4</a>
  <a class="btn btn-primary btn-large" href="/console-select/vita" role ="button">Vita</a></br>
</div>
 
<div class = 'center'>
  <p class = 'marker'>Microsoft</p>
  <a class="btn btn-success btn-large" href="/console-select/xbox" role ="button">Xbox</a>
  <a class="btn btn-success btn-large" href="/console-select/xbox360" role ="button">Xbox 360</a>
  <a class="btn btn-success btn-large" href="/console-select/xbox_one" role ="button">Xbox One</a>
  <a class="btn btn-success btn-large" href="/console-select/pc" role ="button">PC</a></br>
</div>

<div class = 'center'> 
  <p class = 'marker'>Other Consoles</p>
  <a class="btn btn-primary btn-large" href="/console-select/atari" role ="button">Atari</a>
  <a class="btn btn-primary btn-large" href="/console-select/dreamcast" role ="button">Dreamcast</a>
  <a class="btn btn-primary btn-large" href="/console-select/ios" role ="button">IOS</a>
  <a class="btn btn-primary btn-large" href="/console-select/other" role ="button">Other</a>
</div>

</br>

<p class = 'center'>
  <a href="/games" class="btn btn-info btn-lg active" role="button">Index</a>
</p>