<% @title = "Select a Genre" %>

<h1>Select a genre</h1>

<p class = 'center'> You can then find games for that genre</p>

<div class = 'center'>
  <a class="btn btn-warning btn-large" href="/action" role ="button">Action</a>
  <a class="btn btn-warning btn-large" href="/adventure" role ="button">Adventure</a>
  <a class="btn btn-warning btn-large" href="/fighting" role = "button">Fighting</a>
  <a class="btn btn-warning btn-large" href="/first_person_shooter" role ="button">First Person Shooter</a>
</div>

</br>

<div class = 'center'> 
  <a class="btn btn-danger btn-large" href="/platform" role ="button" >Platform</a>
  <a class="btn btn-danger btn-large" href="/racing" role ="button" >Racing</a>
  <a class="btn btn-danger btn-large" href="/rpg" role ="button" >RPG</a>
  <a class="btn btn-danger btn-large" href="/sports" role ="button" >Sports</a>
  <a class="btn btn-danger btn-large" href="/misc" role ="button" >Misc</a>
</div>

</br>

<p class = 'center'>
  <a href="/games" class="btn btn-info btn-lg active" role="button">Index</a>
</p>