<% @title = 'Users Help' %>

<h2>Users Help</h2>

<div class = "center-text">
	
	<p>Welcome to Games Database! In order to access all of our features, please create an account.</p>

	<p class = 'marker'>Important Information</p>
	
	<ul>
	  <li><em>When creating an account, please select a unique username and a strong password.</em></li>
	  <li><em>To contact us, please click on the Contact Tab in the bottom right corner of your screen</em></li>
	</ul>
	
	<p class = 'marker'>User Privileges</p>
	
	<ul>
	  <li><strong>Add new games: </strong><em>You can add new games to our database by completing a short form.</em></li>
	  <li><strong>Edit existing games: </strong><em>You can edit the details of our games.</em></li>
	  <li><strong>Favorite Games: </strong><em>by default, if you edit or rate a game, that game will appear in your Favorites List</em></li>
	</ul>
	
	<p class = 'marker'>Delete Privileges are rewarded when</p>
	
	<ul>
	  <li><em>You have been a member for at least 2 weeks</em></li>
	  <li><em>You have edited or reviewed at least 5 games</em></li>
	</ul>
	
	<p class = 'marker'>Ways to search for games</p>
	
	<ul>
	  <li><strong>Consoles Tab: </strong><em>Find games for your favorite console.</em></li>
	  <li><strong>Genres Tab: </strong><em>Find games from your favorite genre.</em></li>
	  <li><strong>Top Games Tab: </strong><em>Find the top rated games in Games Database.</em></li>
	  <li><strong>Random Tab: </strong><em>View information on a random game.</em></li>
	</ul>

</div>

<p class = 'center'>
  <a class="btn btn-info" href='/help' role="button">Help Index</a>
</p>