<% @title = 'Users Help' %>

<h2>Users Help</h2>

<div class = "favorites-info">
	
	<p>Welcome to Games Database!</p>

	<p>In order to access all the features, you must first register an account</p>

	<p>During registration, please create a unique username with a strong password.</p>

	<p>Upon registering, you will be able to add new games to our database as well as edit existing ones</p>

	<p>By editting or rating any of our games, we will add them in your favorites list</p>

	<p>You can gain the privilege to delete games under two circumstances</p>

	<p>Either you have been a member for at least 2 weeks or</p>

	<p>You have edited or reviewed at least 5 games</p>

</div>

<p class = 'center'>
  <a class="btn btn-info" href='/help' role="button">Help Index</a>
</p>