<% @title = "Welcome" %>

<h3>Welcome to Games Database</h3>

<div id="myCarousel" class="carousel slide">
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="item active">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://www.metroid-database.com/music/hoah101/images/Horsfall_Metroid25Years.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://www.mariomayhem.com/downloads/sound_tracks/Super_Mario_world_soundtrack_download.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://gazztoday.com/wp-content/uploads/2014/05/call-of-duty1.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://heartcurrents.com/wp-content/uploads/2010/09/tetris.png"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://upload.wikimedia.org/wikipedia/en/c/c1/Dkc_snes_boxart.jpg"></a>
    </div> 
         
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://www.vixdojo.com/FanArt/Vix_FanArt_Games_SuperSmashBrosBrawl_Group.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://img1.wikia.nocookie.net/__cb20090208014745/sonic/images/8/8e/Dx.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="http://media.moddb.com/images/games/1/18/17574/grand-theft-auto-v-wallp-2013.jpg"></a>
    </div>
    
    <div class="item">
      <a href='/games/'><img class = 'carousel-image' alt="Placeholder" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6cFpXOEW6MXaOhHWIb23U4aOrbOALqZX0p9PurAUgibX8RiCp"></a>
    </div>
    
  </div>
  
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  
</div>

<h2>Your #1 source for video game information</h2>