<% @title = "Wii Games" %>

<% content_for :meta do %>
  <meta name="description" content="Wii Games">
<% end %>

<h3>All Wii Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "new_table_body" %>
  
</table>

<div class = 'center'>
  <p>We found <%= pluralize(Game.where(console: 'Wii').count, 'Wii game') %></p>
  <p>
    <%= link_to 'Wii Home', wii_path, :class => 'btn btn-info btn-lg active' %>
  </p>
</div>