<% @title = "Wii U" %>

<h3>Wii U Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: 'Wii U').count, 'Wii U game') %></p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>