<% @title = "Xbox One" %>

<h3>Xbox One Games</h3>

<table class = "console-table">

  <%= render :partial => "console_table_head" %>
  <%= render :partial => "console_table_body" %>
  
</table>

<div class = 'center'
  <p>We found <%= pluralize(Game.where(console: 'Xbox One').count, 'Xbox One game') %></p>
  <p>
    <a href="/consoles" class="btn btn-warning btn-lg active" role="button">Consoles</a>
  </p>
</div>