@import "bootstrap";

title {
  display: none;
}

 a {
	&:hover {
	  text-decoration: none;
	};
  }
  
.alert-alert, .alert-success, .info {
  &:hover {
    font-weight: bold;
  };
}

.alert-alert, .alert-success {
  text-align: center;
}

/* Header and Footer */

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

.footer {
  color: #C0C0C0;
  background-color: #000000;
  bottom: 0;
  margin-left: -1px;
  margin-bottom: 0;
  position: fixed;
  
  li {
    display: inline;
  }
  
  a {
    color: #C0C0C0;
    &:hover {
      color: #fff;
    };
  }
  
  #footer-right {
    float: right;
    margin-left: 520px;
    color: #000000;
  }
  
  .footer-link {
    margin-right: 15px;
  }
}

.logo-one {
  color: #FF6600;
  text-shadow: 2px 2px #000;
}

.logo-two {
  color: #CC3399;
  text-shadow: 2px 2px #000;
}

#logo {
  float: left;
  color: #fff;
  padding-top: 10px;
  font-size: 1.5em;
}

.footer, #console-filter {
  display: inline-block;
}

/* tables and columns */

.favorites-table {

  margin-top: 50px;
  
  th {
    background-color: #CC6633;
    &:hover {
      background-color: #FF6633;
    };
  }
  
  td {
    background-color: #3366CC;
    color: #000000;
	 
    &:hover {
      background-color: #3399FF;
    };
  }
}

.games-table {
 
  th {
    background-color: #FFCC99;
    &:hover {
      background-color: #FFFF00;
      border-color: #660000;
    };
  }
}

.console-table, .favorites-table, .games-table, .ratings-table {
  border: 3px solid #000000;
  
  th, td {
    border: 3px solid #000000;   
  }
  
  td {

	&:hover {
	  font-weight: bold;
	};
	
	a {
	  color: #000000;
	  &:hover {
		color: #C0C0C0;
	  };
	}
  }
}
  
.games-table, .favorites-table, .ratings-table, .console-table, #myCarousel, #consoleCarousel, .terms-heading, .center-text, .definitions {
  margin-left: auto;
  margin-right: auto;
}
  
.ratings-table {
  
  th, td {
  
    &:hover {
      font-weight: bold;
    };
  }
  
  th {
    background-color: #66CC99;
  }
  
  td {
    background-color: #FFCC00;
    color: #000000;
  }
}

.console-table {
  width: 750px;
  
  th {
    background-color: #66CCCC;
  }
  
  td {
	background-color: #9966FF;
  }
}

.reviews-table {
  th {
    text-align: left;
  }
}

.table-border {
  border: 2px solid #000;
  margin: 0px 375px;
  padding: 15px;
  background-color: #CCFFFF;
}

#actions {
  background-color: #000066;
  
  a {
    color: #C0C0C0;
  }
}

.action, .indent, .favorites, .top-game {
  margin-left: 20px;
}
#game, #title-id {
  width: 250px;
}

#review-id {
  width: 300px;
}

#title-id, .game-attributes {
  text-align: left;
}

#game_num {
  width: 100px;
}

.game-attributes {
  width: 150px;
}

.info {
  background-color: #66FFFF;
  &:hover {
    background-color: #33CC33;
  };
}

.btn-primary, .btn-info, .btn-success, .btn-warning, .btn-danger {
  border: 3px solid black !important;
  color: white !important;
}

/* HTML Elements */

html {
  overflow-y: scroll;
}

body {
  padding: 40px 0px;
  background-color: #C0C0C0 ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {

  h1 {
    margin-bottom: 10px;
  }
}

.center-text, .definitions {
  width: 50%;
}

h1, h2, h3 {
  line-height: 1;
  color: #000000;
  &:hover {
    color: blue;
  };
}

h1 {
  font-size: 3em;
}

h2, h3 {
  margin-bottom: 30px;
}

h2, #profile-heading {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h1, h2, h3, .center {
  text-align: center;
}

#profile-heading, #user-profile {
  margin-left: 570px;
}

.footer, .legend, .definitions, .center-text, #view, #user-profile, .terms-heading, .terms-list, .game-information {
  list-style-type: none;
}

#logo, .marker, #profile-heading, #console-message, .top-game {
  font-weight: bold;
}

/* Carousel */

textarea, #myCarousel, #consoleCarousel {
  width: 500px;
}

#myCarousel {
  height: 300px;
}

#myCarousel {
  margin-top:30px;
}

#myCarousel, #consoleCarousel {
  border: 3px solid gold;
  &:hover {
    border: 3px solid blue;
  };
}

#consoleCarousel {
  height: 250px;
  margin-bottom: 50px;
}

/* Miscellaneous */

.gravatar, .top-game, table {
  margin-bottom: 10px;
}

.gravatar {
  margin-left: 630px;
}

#error_explanation {
  color: #f00;
  margin-left: 450px;
  ul {
    list-style: none;
    margin-bottom: 18px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  margin-left: 560px;
}

.legend {
  margin-left: 500px;
}

.top-game {
  background-color: #CC9900;
  border: 3px solid gold;
  
  &:hover {
    background-color: #FF9900;
  };
}

.console_selection, .bar {
  border: 3px groove #000000;
}

.console-selection {
  background-color: #CCCC99;
  margin: 0px 440px;
  height: 350px;
  &:hover {
    background-color: #CCFF00;
  };
}

.bar {
  background-color: #FF0000;
  margin: 0px 380px;
  padding-top: 10px;
  &:hover {
    background-color: #990000;
  };
}

.terms-heading, .terms-section {
  border: 3px solid #000000;
  background-color: #99CC66;
}

.terms-heading {
  width: 350px;
  padding: 5px 0px;
}

.terms-section {
  margin: 0px 280px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.game-information {
  margin-left: 600px;
}

.sections-list {
  margin-left: 105px;
}