@import "bootstrap";

title {
  display: none;
}

.alert-alert, .alert-success {
  text-align: center;
  &:hover {
    font-weight: bold;
  };
}

/* Header and Footer */

.header {
  float: right;
}

.footer {
  border-top: 1px solid #eaeaea;
  color: #C0C0C0;
  background-color: #000000;
  bottom: 0;
  margin-left: -7px;
  margin-bottom: 0;
  position: fixed;
  
  li {
    display: inline;
  }
  
  a {
    color: #C0C0C0;
    &:hover {
      text-decoration: none;
      color: #fff;
    };
  }
  
  #footer-right {
    float: right;
    word-spacing: 20px;
    margin-left: 712px;
    padding-top: 5px;
    color: #000000;
  }
  
  .footer-logo {
    height: 30px;
    width: 50px;
  }
}

#logo {
  float: left;
  color: #fff;
  padding-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

.footer, #console-filter {
  display: inline-block;
}

#console-select {
  margin-left: 440px;
  background-color: #CC3399;
  word-spacing: 3px;
  border: 3px solid #336600;
  width: 550px;
  height: 55px;
  &:hover {
    background-color: #FF66FF;
    border-color: #99FFCC;
  };
}

/* tables and columns */

.favorites-table {
  margin-left: 500px;
  margin-top: 50px;
  border: 3px solid black;
  
  tr, td, th {
    border: 3px solid black;
  }
  
  th {
    background-color: #CC6633;
    &:hover {
      background-color: #FF6633;
    };
  }
  
  td {
    background-color: #3366CC;
    color: #000000;
    &:hover {
      font-weight: bold;
      background-color: #3399FF;
    };
  }
}

#game_num {
  width: 100px;
}

#game {
  width: 250px;
}

.games-table {
  margin-left: 300px;
  border: 3px solid #000000;
 
  th {
    background-color: #FFCC99;
    border: 3px solid #000000;
    &:hover {
      background-color: #FFFF00;
      border-color: #660000;
    };
  }
  
  td {
    border-top: 3px solid #000000;
  }
}

#actions {
  background-color: #000066;
  
  a {
    color: #C0C0C0;
    &:hover {
      text-decoration: none;
    };
  }
}

.action, .indent, .favorites {
  margin-left: 20px;
}

#title_id {
  width: 250px;
  text-align: left;
}

.game-attributes {
  text-align: left;
  width: 150px;
}

.info {
  background-color: #66FFFF;
  &:hover {
    font-weight: bold;
    background-color: #33CC33;
  };
}

.btn-primary, .btn-info {
  border: 3px solid black !important;
}

/* HTML Elements */

html {
  overflow-y: scroll;
}

body {
  padding: 40px 0px;
  background-color: #C0C0C0 ;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {

  h1 {
    margin-bottom: 10px;
  }
}

.center-text, #paragraphs, .definitions {
  margin-left: 350px;
}

h1,h2, h3 {
  line-height: 1;
  color: #999;
  &:hover {
    color: blue;
  };
}

h1 {
  font-size: 3em;
}

h2, h3 {
  margin-bottom: 30px;
}
h2, #profile-heading {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h1, h2, h3, .center {
  text-align: center;
}

#profile-heading, #user-profile {
  margin-left: 570px;
}

.footer, .definitions, #view, #user-profile {
  list-style-type: none;
}

#logo, .marker, #profile-heading, #console-select, #console-message {
  font-weight: bold;
}

/* Carousel */

#myCarousel, .carousel-image {
  height: 300px;
  width: 500px;
}

#myCarousel {
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
}

.carousel-image {
  border:3px solid gold;
  &:hover {
    border: 3px solid blue;
  };
}

/* Miscellaneous */

.gravatar, table {
  margin-bottom: 10px;
}

.gravatar {
  margin-left: 630px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin-bottom: 18px;
  }
}

.legend {
  margin-left: 500px;
  list-style:none;
}

.favorites-info {
  margin-left: 500px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}