<% @title = "#{@game.title} Images" %>

<h3>Images for <%= "#{@game.title}" %></h3>

<p class='center'>
  <%= link_to 'New Image', new_game_image_path(@game), :class => "btn btn-success" %>
</p>

<p class='center'>
  <%= link_to 'Back', game_path(@game), :class => "btn btn-info" %>
</p>
