<ul class = 'footer'>
  <div id = 'footer-left'>
  <li>GameSunset - 2014 - Your # 1 source for video game information</li>
  
  <div id = 'footer-right'>
    <li class = 'footer-link'>List Item</li>
    <li class = 'footer-link'><%= link_to 'About', about_path, id: 'links' %></li>
	<li class = 'footer-link'><%= link_to 'Terms of Use', terms_path, id: 'links' %></li>
	<li class = 'footer-link'><%= link_to 'Privacy Policy', privacy_path, id: 'links' %></li>
    <li class = 'footer-link'><%= link_to 'Contact', new_contact_path, id: 'links' %></li>
    <li> | </li>
  </div>

</ul>