<ul class = 'footer'>
	<li><%= image_tag('http://m1.behance.net/rendition/modules/59245571/disp/83ec69e47df392e6856aca4a7a276e9b.jpg', id: 'footer-logo') %>
  <li id = "footer-left">Games Database</li>
	
  <div id = 'footer-right'>
    <li><%= link_to 'Home', games_path, id: 'links' %></li>
    <li><%= link_to 'About', about_path, id: 'links' %></li>
    <li><%= link_to 'Contact', static_pages_contact_path, id: 'links' %></li>
		<li> | </li>
  </div>

</ul>