<ul class = 'footer'>
	<li>Games Database</li>
	<div class = right>
  	<li><%= link_to 'Home', games_path, id: 'links' %></li>
  	<li><%= link_to 'About', static_pages_about_path, id: 'links' %></li>
  	<li><%= link_to 'Contact', static_pages_contact_path, id: 'links' %></li>
</div>
</ul>